.main{
    background-image: url('../LoginImages/CoverPic.png');
    background-repeat:no-repeat;
    background-size: 120%;
    background-position: right;
    filter: brightness(90%);
    object-fit:fill; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mailForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.564);
    width: 30%;
    height: 300px;
}

.innerDiv{
    width: 100%;
    padding-left: 50px;
}

.innerDiv h4{
    font-weight: 700;
    font-size: 30px;
}

.innerDiv p{
    margin-bottom: 1px;
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
}

.emailInput{
    border-color: rgb(164, 162, 162);
    border-radius: 0.3rem;
    border-style: solid;
    height: 60px;
    width: 89%;
}

.emailSendButton{
    background-color: #FF7070;
    border-radius: 0.2rem;
    height: 55px;
}